.main-color{
    color: #63512d;
}
.main-bg{
    background-color: #63512d;
}
nav {
    background-color: white;
}
.logo{
    width: 80px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.nav-hover:hover .page{
    color: #63512d !important;
}
.nav-active .active{
    color: #63512d !important;
}
.user{
    margin-top: -12px;
}